.m_card{
    max-width: 340px;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    /* color: palegreen; */
    margin: 20px auto;
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.m_card .s_form h1{
    text-align: center;
    font-size: 2rem;
    color: #666;
    padding: 8px;
    /* background-color: brown; */
}

.m_card .s_form .m_card_content label{
    font-size: 1.3rem;
    font-weight: bold;
    color: #666;
}
.m_card .s_form .m_card_content input{
    outline: none;
    border: 1px solid #666;
    background-color: transparent;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}


.register_icon{
    font-size: 1.5rem;
    margin: 5px;
}
