.my_grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    position: relative;
}


.toast{
    position: absolute;
    right: 0;
    top: 0;
    width: 264px;
    height: 944px;
/* flex-shrink: 0; */
    background-color:rgba(255, 153, 0, 0.30);
}

/* .toast{
    background-color: tomato;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    padding: 20px 35px 20px 25px;
    position: absolute;
    top: 25px;
    right: 30px;
    border-left: 6px solid #4070f4;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 400ms linear;
    height: 100vh;
    width: 100%;
} */
/* .toast.active{
    transform: translateX(0%);
}

.toast-content .check{
    height: 35px;
    width: 35px;
    background-color: #4070f4;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toast .toast-content{
    display: flex;
    align-items: center;
}
.toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text{
    font-size: 20px;
    font-weight: 400;
    color: #666666;
}

.message .text.text-1{
    font-weight: 600;
    color: #333;
}

.toast .close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.5;
    transition: all 250ms linear;
}

.toast .close:hover{
    opacity: 1;
}

.toast .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ddd;
}

.progress.active:before{
    animation: progress 5s linear forwards;
} */



@media only screen and (min-width:0px) and (max-width:319px) {
    .my_grid{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin: 0 auto;
    }
    
}
@media only screen and (min-width:320px) and (max-width:468px) {
    .my_grid{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    
}
@media only screen and (min-width:469px) and (max-width:768px) {
    .my_grid{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        overflow: hidden;
    }
    
}
@media only screen and (min-width:769px) and (max-width:1024px) {
    .my_grid{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        overflow: hidden;
    }
    
}